@model  VendorSystem.Models.Model1.PageVSRole
@{
    ViewBag.Title = VendorSystem.Resources.Resource.AssignRoles;
}
<style>
    .dataTables_wrapper.no-footer {
        overflow: hidden;
    }
</style>

<div class="breadcrumbs ace-save-state breadcrumbs-fixed" style="background-color:white">
    <div class="panel-body">
        <h2 style="color:#56bbf5; display:inline-block"> <i class="fa fa-fire" style="color: #438eb9;"></i> @VendorSystem.Resources.Resource.AssignRoles</h2>
        <div id="DivButton" style="display:inline-block;">

            <button type="button" class="btn btn-white btn-info btn-bold" onclick="New()">
                <i class="ace-icon glyphicon glyphicon-refresh "></i>
                @VendorSystem.Resources.Resource.New
            </button>

            @if (Authentication.IsVisiable("Assign Roles", TypeButton.Save, Session["RoleID"].ToString() ))
            {
                <button type="button" onclick="CheckValidation()" class="btn btn-white btn-info btn-bold">
                    <i class="glyphicon glyphicon-floppy-saved bigger-120 "></i>
                    @VendorSystem.Resources.Resource.Save
                </button>
            }
        </div>
    </div>
</div>
<br /><br /><br />
<form id="Form" autocomplete="off">
    <div class="panel">
        <div class="panel-body">
            <div class="col-lg-3 col-md-3 col-xs-10">
                <label class="control-label">@VendorSystem.Resources.Resource.Role</label>
                <span class="span">*</span>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.RoleId, ViewBag.Roles as SelectList, VendorSystem.Resources.Resource.Select, new { @class = "form-control" })

                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12">
                <table id="tbShowData" class="table table-bordered" style="width:99% !important">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:5%">#</th>
                            <th>ID</th>
                            <th style="text-align:center;width:20%">@VendorSystem.Resources.Resource.Name</th>
                            <th style="text-align:center;width:10%">@VendorSystem.Resources.Resource.Show</th>
                            <th style="text-align:center;width:10%">@VendorSystem.Resources.Resource.Save</th>
                            <th style="text-align:center;width:10%">@VendorSystem.Resources.Resource.SaveAndPost</th>
                            <th style="text-align:center;width:10%">@VendorSystem.Resources.Resource.Search</th>
                            <th style="text-align:center;width:10%">@VendorSystem.Resources.Resource.Print</th>
                            <th>PageId</th>
                            <th style="text-align:center;width:10%">@VendorSystem.Resources.Resource.SelectAll <input id='selectallRole' type='checkbox' /></th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</form>


<div id="ModalConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@VendorSystem.Resources.Resource.SaveOperation</h4>
            </div>
            <div class="modal-body">
                <h2>@VendorSystem.Resources.Resource.SaveQuestion</h2>
            </div>
            <div class="modal-footer">
                <button id="BtnSave" name="action:Save" @*type="submit"*@ type="button" onclick="Save()" class="btn btn-success">
                    @VendorSystem.Resources.Resource.Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">@VendorSystem.Resources.Resource.Exit</button>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var AppPages = JSON.parse('@Html.Raw(Json.Encode(ViewBag.AppPages))')
    </script>
    <script src="~/Scripts/ScriptsViews/PageVSRole.js?v3"></script>
}